<div class="about" style="width: 1350px">
      <!--  <h3 style=color:#C3073F;>ABOUT DELTA</h3><br>--><br>
        <h1 style=color:#C3073F;>TRUST US <img  src="../assets/handshake2.png" width="50" height="50"> LIVE LIFE</h1>
        <br>
        <div class="img">
        <img class="img-responsive" src="../assets/about_us.jpg" >
    </div>
    
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<h1 style=color:#C3073F;>DELTA VALUES</h1>

    <div class="container" style="width: 1350px">
        <div class="topleft" >
            <h4>&nbsp; &nbsp; &nbsp; Vision</h4>
            <p>Being purpose-driven is core to how we run our business.</p>
        </div>

        <div class="topright">
            <h4>Our Heritage</h4>
            <p>Staying true to our sense of purpose over the past 50 years.</p>
        </div>

        <div class="bottomleft">
            <h4>&nbsp;Our Promise To You</h4>
            <p> We want to make banking invisible for you.</p>
        </div>

        <div class="bottomright">
            <h4>Our Awards & Accolades &nbsp; </h4>     
            <p>Asia's Safesest and World's Best Bank. &nbsp;&nbsp; &nbsp;</p>
        </div>
     </div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<div>
        <div class="img1" >
                <img class="img-responsive" src="../assets/team4.png" style="width:100%; height:10%">
        </div>

</div>
<br><br>

<div class="container">
    <div class="row" style="width: 1350px">
        <div class="col-md-4" style="width: 30%">
            <div class="thumbnail" style="width: 75%">
              <img class="img-responsive" src="../assets/snehitha.jpeg" alt="snehitha" style="width:100%">
                <div class="caption">
                  <h3>SNEHITHA</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="width: 23%" >
            <div class="thumbnail" style="height: 45%;width:80%">
                <img class="img-responsive" src="../assets/people1.gif" alt="poojitha" style="width:100%">
                    <div class="caption">
                        <h3><br>DELTA</h3>
                    </div>
            </div>
        </div>
        
        <div class="col-md-4" style="width: 23%" >
            <div class="thumbnail" style="width: 75%">
                <img class="img-responsive" src="../assets/poojitha.jpg" alt="poojitha" style="width:100%">
                    <div class="caption">
                        <h3>POOJITHA</h3>
                    </div>
            </div>
        </div>
        <div class="col-md-4" style="width: 23%">
            <div class="thumbnail" style="width: 75% ">
                <img class="img-responsive" src="../assets/riya.jpg" alt="riya" style="width:100%">
                    <div class="caption">
                            <h3>RIYA</h3>
                    </div>
            </div>
        </div>
        <div class="col-md-4" style="width: 23%" >
            <div class="thumbnail" style="width: 75%">
                <img class="img-responsive" src="../assets/chandana.jpg" alt="chandana" style="width:100%">
                    <div class="caption">
                        <h3>CHANDANA</h3>
                    </div>
            </div>
        </div>
        <div class="col-md-4" style="width: 30%">
            <div class="thumbnail" style="width: 75%">
                <img class="img-responsive" src="../assets/kaushani.jpg" alt="kaushani" style="width:100%">
                    <div class="caption">
                        <h3>KAUSHANI</h3>
                    </div>
            </div>
        </div>
    </div>
</div>  
