<ul class="nav nav-pills" >
        <li class="nav-item">
            <button class="nav-link" routerLink="about">About</button>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <button class="nav-link" routerLink="contact">Contact</button>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item"> 
          <button class="nav-link" routerLink="login" >Login</button>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
            <button class="nav-link" routerLink="register">Register</button>
        </li>
    </ul>
    <!-- </div> -->
    <div class="card-content">
        <router-outlet></router-outlet>
    </div>
 
<div class="card-footer">

</div>
     
