<html>
    <head>
        <title>DELTA</title>
        <style>
        
        
        
        </style>
    </head>
    <body>
        <h3>ABOUT DELTA</h3>
        <h1>TRUST US <img src="../assets/handshake2.png" width="50" height="50"> LIVE LIFE</h1>
    <div class="img">
        <img src="../assets/about_us.jpg" >
    </div><br/><br/><br/>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>


    <div class="container">
        <div class="topleft">
            <h4>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Vision</h4>
            <p>Being purpose-driven is core to how we run our business.</p>
        </div>

        <div class="topright">
            <h4> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Our Heritage</h4>
            <p>Staying true to our sense of purpose over the past 50 years.</p>
        </div>

        <div class="bottomleft">
            <h4>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; Our Promise To You</h4>
            <p> We want to make banking invisible for you.</p>
        </div>

        <div class="bottomright">
            <h4>&nbsp; &nbsp; &nbsp;Our Awards & Accolades &nbsp; </h4>     
            <p>Asia's Safesest and World's Best Bank (December 2017). &nbsp;&nbsp; &nbsp;</p>
        </div>
        
    </div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/>

<div class="bg"></div>
<h1>TEAM</h1>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<div class="container">
        <div class="topleft">
            <h4>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;POOJITHA</h4>
            <img src="../assets/poojitha.jpg"  style="width:70%">
            
        </div>

        <div class="topright">
            <h4> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;RIYA</h4>
            <img src="../assets/riya.jpg"  style="width:70%">
            
        </div>

        <div class="center">
            <h4>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; SRI CHANDANA</h4>
            <img src="../assets/chandana.jpg"  style="width:70%">
            
        </div>
        

        <div class="bottomleft">
            <h4>&nbsp; &nbsp; &nbsp;SNEHITHA &nbsp; </h4> 
            <img src="../assets/snehitha.jpeg"  style="width:70%">     
            
        </div>

        <div class="bottomright">
                <h4>&nbsp; &nbsp; &nbsp;KAUSHANI&nbsp; </h4> 
                <img src="../assets/kaushani.jpg"  style="width:70%">               
                
            </div>
    </div>


     
    </body>
</html>
