<h1> Account Transaction List</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Post Date</th>
            <th>Description</th>
            <th>Type</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Available Balance</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let savingsTransaction of savingsTransactionList">
            <td>{{TransactionViewComponent.date | date: 'MM/dd/yyyy'}} </td>
            <td>{{TransactionViewComponent.description}}</td>
            <td>{{TransactionViewComponent.type}}</td>
            <td>{{TransactionViewComponent.status}}</td>
            <td>{{TransactionViewComponent.amount}}</td>
            <td>{{TransactionViewComponent.availableBalance}}</td>
        </tr>
    </tbody>
</table>