<ul class="nav nav-pills" >
    <li class="nav-item">
        <button class="nav-link" routerLink="about">Profile</button>
    </li>&nbsp;&nbsp;&nbsp;&nbsp;
    <li class="nav-item">
      <button class="nav-link" routerLink="home">Logout</button>
    </li>&nbsp;&nbsp;&nbsp;&nbsp;
</ul>
<div class="flip-card" routerLink="balance">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../assets/balance.png" alt="Avatar" style="width:300px;height:150px;">
          </div>
          <div class="flip-card-back">
            
            <h3>Click to view your balance</h3> 
            
          </div>
        </div>
</div><br><br>
      <div class="flip-card" routerLink="transfer">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../assets/transfer.png" alt="Avatar" style="width:300px;height:150px;">
          </div>
        <div class="flip-card-back">          
                <h3>click to start Transfer  </h3> 
        </div>
        </div>
      </div><br><br>
      <div class="flip-card" routerLink="transaction">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../assets/transactions.png" alt="Avatar" style="width:300px;height:150px;">
          </div>
          <div class="flip-card-back">
           
                <h3>Click to view your trasactions</h3> 
           
          </div>
        </div>
      </div>


       


