.about{ height: 100%;margin: 0;font-family: Arial, Helvetica, sans-serif;}

        .bg {
        
        height: 100%; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;}

        .image { 
            width: 100%;
            height: auto;
            opacity: 0.3;
          }
        

        .img{
            text-align: center;
            height:1000;
            width:1000;
            background-position: center;
        }
        .img1{
          text-align: center;
          height:500;
          width:1000;
          background-position: center;
      }

        h1{
            text-align: center;
            color:darkred;
        }
        h3{
            text-align: center;
            color:lightcoral;
        }
        h4{
          text-align: center;
          color: red;
        }
        .container {
            position: relative;
          }
          
          .topleft {
            position:absolute;
            top: 8px;
            left: 16px;
            font-size: 18px;
            background-color: azure;
            text-align:center;
  width: 300px;
  border: 15px solid khaki;
  padding: 50px;
  margin: 20px;
          }
          .topright {
            position: absolute;
            top: 8px;
            right: 16px;
            font-size: 18px;
            background-color: azure;
  width: 300px;
  border: 15px solid khaki;
  padding: 50px;
  margin: 20px;
          }
          .bottomleft {
            position: absolute;
            bottom: 8px;
            left: 16px;
            font-size: 18px;
            background-color: azure;
  width: 300px;
  border: 15px solid khaki;
  padding: 50px;
  margin: 20px;
          }
          .bottomright {
            position: absolute;
            bottom: 8px;
            right: 16px;
            font-size: 18px;
            background-color: azure;
  width: 300px;
  border: 15px solid khaki;
  padding: 50px;
  margin: 20px;
          }
          
          * {
            box-sizing: border-box;
          }
          
          .column {
            float: left;
            width: 33.33%;
            padding: 5px;
          }.row::after {
            content: "";
            clear: both;
            display: table;
          }


          .flip-box {
            background-color: transparent;
            width: 300px;
            height: 200px;
            border: 1px solid #f1f1f1;
            perspective: 1000px;
          }
          
          .flip-box-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
          }
          
          .flip-box:hover .flip-box-inner {
            transform: rotateY(180deg);
          }
          
          .flip-box-front, .flip-box-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
          }
          
          .flip-box-front {
            background-color: #bbb;
            color: black;
          }
          
          .flip-box-back {
            background-color: #555;
            color: white;
            transform: rotateY(180deg);
          }
          
          
        
          .nav-pills{
    float: right;
    }
    .imgLogo{
        float: left;
    }
    .jumbotron-fluid{
        background-color: rgb(95, 170, 85)
    }
    display-4{
        font-family: "Arial Black";
    }
    .nav-link > a:hover {
        background-color:black;
        
      }
       
      
      
    





      *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    a{
        text-decoration: none;
        outline: none;
    }
    .footer-main-div{
        width:100%;
        height:auto;
        margin: auto;
        background: #272727;
        padding: 20px 0px;
    }
    .footer-social-icons{
        width:100%;
        height: auto;
        margin: auto;
    }
    .footer-social-icons ul{
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    .footer-social-icons ul li{
        display:inline-block;
        width:50px;
        height:50px;
        margin:0px 10px;
        border-radius:100%;
        background: #32cd32;
    }
    .footer-social-icons ul li a{
        color:#272727;
        font-size: 25px;
        display: block;
    }
    .footer-social-icons ul li a i{
        line-height:50px;
    }
    .footer-menu-one{
        width: 100%;
        height: auto;
        margin: auto;
        margin-top: 30px;
    }
    .footer-menu-one ul{
        margin:0px;
        padding: 0px;
        text-align:center;
    }
    .footer-menu-one ul li{
        display: inline-block;
        margin: 0px 15px;
    }
    .footer-menu-one ul li a{
        font-family: Arial;
        font-size: 15px;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
    }
    .footer-menu-one ul  li a:hover{
      color:#ffff00;
    }
    .footer-menu-two{
        width: 100%;
        height: auto;
        margin: auto;
        margin-top: 10px;
    }
    .footer-menu-two ul{
        margin:0px;
        padding: 0px;
        text-align:center;
    }
    .footer-menu-two ul li{
        display: inline-block;
        margin: 0px 15px;
    }
    .footer-menu-two ul li a{
        font-family: Arial;
        font-size: 15px;
        font-weight: 600;
        color: #fff;	
        text-transform: uppercase;
    }
    .footer-menu-two ul  li a:hover{
      color:#ffff00;
      
    }
    .footer-bottom{
      width:100%;
      height:auto;
      margin:auto;
      background:#32cd32;
      padding:10px;
    }
    .footer-bottom{
      font-family:arial;
      font-size:14px;
      text-align:center;
      color:#fff;
      font-weight:600;
      letter-spacing:1px;
    }
    .footer-bottom p a{
      color:#fff;
    }
    .footer-bottom p a:hover{
      color:#272727;
    }
      
      
    .nav-pills{
        float: right;
        }
        .imgLogo{
            float: left;
        }
        .jumbotron-fluid{
            background-color: rgb(95, 170, 85)
        }
        display-4{
            font-family: "Arial Black";
        }
        .nav-link > a:hover {
            background-color:black;
            
          }
           
          
          
        
    
    
    
    
    
          *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        a{
            text-decoration: none;
            outline: none;
        }
        .footer-main-div{
            width:100%;
            height:auto;
            margin: auto;
            background: #272727;
            padding: 20px 0px;
        }
        .footer-social-icons{
            width:100%;
            height: auto;
            margin: auto;
        }
        .footer-social-icons ul{
            margin: 0px;
            padding: 0px;
            text-align: center;
        }
        .footer-social-icons ul li{
            display:inline-block;
            width:50px;
            height:50px;
            margin:0px 10px;
            border-radius:100%;
            background: #32cd32;
        }
        .footer-social-icons ul li a{
            color:#272727;
            font-size: 25px;
            display: block;
        }
        .footer-social-icons ul li a i{
            line-height:50px;
        }
        .footer-menu-one{
            width: 100%;
            height: auto;
            margin: auto;
            margin-top: 30px;
        }
        .footer-menu-one ul{
            margin:0px;
            padding: 0px;
            text-align:center;
        }
        .footer-menu-one ul li{
            display: inline-block;
            margin: 0px 15px;
        }
        .footer-menu-one ul li a{
            font-family: Arial;
            font-size: 15px;
            font-weight: 600;
            color: #fff;
            text-transform: uppercase;
        }
        .footer-menu-one ul  li a:hover{
          color:#ffff00;
        }
        .footer-menu-two{
            width: 100%;
            height: auto;
            margin: auto;
            margin-top: 10px;
        }
        .footer-menu-two ul{
            margin:0px;
            padding: 0px;
            text-align:center;
        }
        .footer-menu-two ul li{
            display: inline-block;
            margin: 0px 15px;
        }
        .footer-menu-two ul li a{
            font-family: Arial;
            font-size: 15px;
            font-weight: 600;
            color: #fff;	
            text-transform: uppercase;
        }
        .footer-menu-two ul  li a:hover{
          color:#ffff00;
          
        }
        .footer-bottom{
          width:100%;
          height:auto;
          margin:auto;
          background:#32cd32;
          padding:10px;
        }
        .footer-bottom{
          font-family:arial;
          font-size:14px;
          text-align:center;
          color:#fff;
          font-weight:600;
          letter-spacing:1px;
        }
        .footer-bottom p a{
          color:#fff;
        }
        .footer-bottom p a:hover{
          color:#272727;
        }
          
          

    .nav-pills{
        float: right;
        }
        .imgLogo{
            float: left;
        }
        .jumbotron-fluid{
            background-color: rgb(95, 170, 85)
        }
        display-4{
            font-family: "Arial Black";
        }
        .nav-link > a:hover {
            background-color:black;
            
          }