<div class ="card">
<div class =card-header>
    
    <!-- <div class="jumbotron jumbotron-fluid"> -->
          <img src="assets\DeltaLogo.jpg" alt="DeltaLogo" height="150px" width="150px" class="imgLogo">
          <h1 class="display-4"><b>DELTA BANK</b></h1>
          <p class="lead"><i><b>Trust us Live life !!</b></i></p>
          <ul class="nav nav-pills" >
              <li class="nav-item">
                  <button class="nav-link" routerLink="about">About</button>
              </li>&nbsp;&nbsp;&nbsp;&nbsp;
              <li class="nav-item">
                <button class="nav-link" routerLink="contact">Contact</button>
              </li>&nbsp;&nbsp;&nbsp;&nbsp;
              <li class="nav-item"> 
                <button class="nav-link" routerLink="login" >Login</button>
              </li>&nbsp;&nbsp;&nbsp;&nbsp;
              <li class="nav-item">
                  <button class="nav-link" routerLink="register">Register</button>
              </li>
          </ul>
      </div>
    </div> 
  
    
    
    
    
    
    <div class="about">
        <h3>ABOUT DELTA</h3><br>
        <h1>TRUST US <img  src="../assets/handshake2.png" width="50" height="50"> LIVE LIFE</h1>
    <div class="img">
        <img class="img-responsive" src="../assets/about_us.jpg" >
    </div>
    
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<h1>DELTA VALUES</h1>

    <div class="container">
        <div class="topleft">
            <h4>&nbsp; &nbsp; &nbsp; Vision</h4>
            <p>Being purpose-driven is core to how we run our business.</p>
        </div>

        <div class="topright">
            <h4>Our Heritage</h4>
            <p>Staying true to our sense of purpose over the past 50 years.</p>
        </div>

        <div class="bottomleft">
            <h4>&nbsp;Our Promise To You</h4>
            <p> We want to make banking invisible for you.</p>
        </div>

        <div class="bottomright">
            <h4>Our Awards & Accolades &nbsp; </h4>     
            <p>Asia's Safesest and World's Best Bank. &nbsp;&nbsp; &nbsp;</p>
        </div>
     </div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<div>
        <div class="img1">
                <img class="img-responsive" src="../assets/team4.png" style="width:100%" >
        </div>

</div>
<br><br>

<div class="container">
    <div class="row" >
        <div class="col-md-4" style="width: 30%">
            <div class="thumbnail" style="width: 75%">
              <img class="img-responsive" src="../assets/snehitha.jpeg" alt="snehitha" style="width:100%">
                <div class="caption">
                  <h3>SNEHITHA</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="width: 23%" >
            <div class="thumbnail" style="width: 75%">
                <img class="img-responsive" src="../assets/poojitha.jpg" alt="poojitha" style="width:100%">
                    <div class="caption">
                        <h3>POOJITHA</h3>
                    </div>
            </div>
        </div>
        
        <div class="col-md-4" style="width: 23%" >
            <div class="thumbnail" style="width: 75%">
                <img class="img-responsive" src="../assets/poojitha.jpg" alt="poojitha" style="width:100%">
                    <div class="caption">
                        <h3>POOJITHA</h3>
                    </div>
            </div>
        </div>
        <div class="col-md-4" style="width: 23%">
            <div class="thumbnail" style="width: 75% ">
                <img class="img-responsive" src="../assets/riya.jpg" alt="riya" style="width:100%">
                    <div class="caption">
                            <h3>RIYA</h3>
                    </div>
            </div>
        </div>
        <div class="col-md-4" style="width: 23%" >
            <div class="thumbnail" style="width: 65%">
                <img class="img-responsive" src="../assets/chandana.jpg" alt="chandana" style="width:100%">
                    <div class="caption">
                        <h3>CHANDANA</h3>
                    </div>
            </div>
        </div>
        <div class="col-md-4" style="width: 30%">
            <div class="thumbnail" style="width: 70%">
                <img class="img-responsive" src="../assets/kaushani.jpg" alt="kaushani" style="width:100%">
                    <div class="caption">
                        <h3>KAUSHANI</h3>
                    </div>
            </div>
        </div>
    </div>
</div>  




