<div class="container">
    <div class="imgcontainer">
        <img src="../assets/LoginLogo.jpg" alt="Avatar" class="avatar">
    </div>
  <form ngNativeValidate>
      <label for="uname" style=color:#C3073F;><b>Username</b></label>
      <input type="text" [(ngModel)]="username" placeholder="Enter Username" name="uname" required>
  
      <label for="psw" style=color:#C3073F;><b>Password</b></label>
      <input type="password" [(ngModel)]="password" placeholder="Enter Password" name="psw" required>
          
      <button  (click)="verify(username,password)">Login</button>
     
      <label style=color:#C3073F;>
          <input type="checkbox" checked="checked" name="remember" style=color:#C3073F;> Remember me
      </label>
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <button type="button" style="padding-left:5em" (click)="loginasadmin()" >LoginAsAdmin</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
  </form>
  </div>